.detail-card{
    padding: 0.5rem 1rem;
    display: flex;
    gap: 2rem;
    border: #064420 2px dotted;
    background-color: #FAF1E6;
    font-family: Geo, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
}

.detail-card>img{
    width: 5rem;
    height: auto;
    padding: 0.2rem;
}

.detail-card>.info{
    width: 12rem;
}

.detail-card>.update-actions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    justify-content:center;
}

.detail-card>.update-actions>button{
    border: 1px solid #064420;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

.detail-card>.update-actions>button:hover{
    background-color: #064420;
    cursor: pointer;
    color: white;
}

.detail-card>.update-actions>button:active{
    transform: scale(1.01);
    transition: transform ease-out 200ms;
}