header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;

    padding-top: 1rem;
    padding-right: 1rem;

    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: left;
}

.search-bar input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    width: 350px;
    border:none;
}

.cart img{
    height: 2.5rem;
    width: auto;
}

.cart{
    display: flex;
}

.cart p{
    align-self: baseline;
    padding: 0.2rem;
    width: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    padding-left: clamp(1rem, 10vw,10rem);
    display: flex;
    align-items: center;
    width: clamp(5rem,30vw,50rem);
    justify-content: space-between;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items:center;
        gap: 1rem;
    }

    .search-bar {
        width: 100%;
    }

    .cart{
        align-self: flex-start;
    }
}