.selector{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector input{
    width: 3rem;
    height: 2rem;
    text-align: center;
    background-color: #E4EFE7;
    font-weight: bold;
    border: none;
}

.selector button{
    border: none;
    background-color: #064420;
    color: #FDFAF6;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}

.selector button:hover{
    background-color: hsl(145, 84%, 25%);
    cursor: pointer;
}

.selector button:active{
    transform: scale(1.05);
    transition: transform ease-out;
}

button.minus{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

button.plus{
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.selector p{
    margin-right: 1rem;
}